.nav {
    grid-area: n;
    background-color: #b6a6d7;
    padding: 20px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.activeLink {
    color: gold;
}

.item.active {
    color: gold
}
