.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems img {
    height:50px;
    border-radius:100px;
    border: 1px outset #b6a6d7;
}

.dialogsItems a {
    color: SaddleBrown;
    text-decoration: none;
    vertical-align: middle;
}

a.active {
    color: goldenrod;
}

.messages {
    padding: 10px;
    color: white;
}
